{% extends 'base.html' %}
{% block title %}Over ons{% endblock %}

{% block content %}
    
  </div>
</nav>

    <div class="container">
    	    <br/>
    <h3>About</h3>

    Ik heb deze site gemaakt als oefenopdracht voor het werken met flask, account management en databases. Nieuwe leden kunnen zich registreren, inloggen, zich aanmelden voor een vergadering en hun account verwijderen. Dit wordt bijgehouden door de database, en gereflecteerd in de tabellen op de 'leden' en 'vergadering' routes. Zodoende heb ik kennis opgedaan van flask, jinja, login managers, database management, html, de command line(bash), git, SQL(postgres) virtual environments en python packaging.
    <br>
    <br>
    De vereniging namaken van het optreden van Toon Hermans is een stukje humor uiteraard ;). 
    <br>
    <br>
    <a href="https://github.com/klaaswie">github.com/klaaswie</a>
    
    </div>

{% endblock %} 