{% extends 'base.html' %}
{% block title %}Vereniging OG{% endblock %}

{% block content %}
    
  </div>
</nav>
	<br/>
    <div class="container" align="center">
    <h3>Welkom.</h3>
    Welkom op de homepagina van de Vereniging Ons Genoegen.
    <br>
    <br>
    U kunt u registreren door op 'Registreren' te klikken. Gelieve vervolgens in te loggen, en u aan te melden voor de vergadering op de 'Vergadering' pagina. De hooggeëerde voorzitter zal dan de vergadering openen. Wij wensen u een prettig verblijf.
    <br/>
    <br/>
 	<img src = "{{ url_for('static', filename='/images/toonhermans.jpg')}}" width="300">
    
    </div>

{% endblock %} 