{% extends 'base.html' %}
{% block title %}Leden pagina{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/table.css">
    <link rel="stylesheet" type="text/css" href="/static/center.css">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
    
        <table class="content-table center" border=1>
  <thead>
    <tr>
      <th>Ledenlijst</th>
    </tr>
  </thead>
  <tbody>
    {% for user in Leden.query.all()%}
      <tr>
        <td>{{ user.aanhef + ' ' + user.achternaam }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</html>
{% endblock %} 